html, body {
    background-color: rgb(247, 245, 243) !important;
    width: 100%;

}

#bodyWrapper {
    margin: 1em;
    margin-left: 200px;
    padding-left: 1em;
}

#bodyWrapper.wide {
    margin-left: 50px;
}

#footer {
    margin-left: 200px;
    width: 100%;

    padding-bottom: 1em;
    bottom: 1em;
    position: absolute;
    
}

#footer.wide {
    margin-left: 50px;
}

#footer .ui.grid {
    margin-left: 0;
}

#header {
    position: sticky;
    z-index: 10;
    top: 0;
}

#header i.search.icon {
    top: 0.5em
}

#verticalMenu {
    width: 200px;
    position: fixed;
    height: 100%;
    background-color: #1B1C1D;
    overflow-y: scroll;
}

.headerSearchInput {
    min-width: 22em;
    border: 0px
}

.ui.menu {
    border-radius: 0rem;
}

.sidebarCollapser {
    position: absolute;
    bottom: 66px;
    width: 100%;
}

#hiddenVerticalMenu {
    width: 50px;
    position: fixed;
    height: 100%;
    background-color: #1B1C1D;
}

#header > .ui.menu .item:before {
    width: 0px
}

#menuId .menu {
    border-Radius: 0px;
    border: 0;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#homeSubHeader {
    margin-top: 0.5em
}

#homeSecondIcon {
    padding-left: 0.5em
}