html, body {
    background-color: rgb(247, 245, 243) !important;
    width: 100%;
    
}

#contentwrapper {
    margin-left: 260px;
    padding: 1em;
}

#footer {
    padding-bottom: 1em;
    bottom: 1em;
    position: absolute;
    width: 100%;
    margin-left: 260px;
}

#header i.search.icon {
    top: 0.5em
}

#verticalMenu {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 260px;
    position: fixed;
    height: 100%;
}

.headerSearchInput {
    min-width: 22em;
    border: 0px
}

.semanticVerticalMenu {
    height: 100%;
    border-radius: 0px;
}

#menuId .ui.menu .item:before {
    width: 0px
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}