html, body {
    background-color: rgb(247, 245, 243) !important;
    width: 100%;

}

#bodyWrapper {
    margin: 1em;
    margin-left: 250px;
    padding-left: 1em;
}

#bodyWrapper.wide {
    margin-left: 50px;
}

#footer {
    margin-left: 250px;
    width: 100%;
    bottom: 1em;
    position: absolute;
}

#footer.wide {
    margin-left: 50px;
}

#footer .ui.grid .column {
    margin-left: 1em;
    padding: 1.5em;
}

#header i.search.icon {
    top: 0.5em
}

#verticalMenu {
    padding: 0em;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 250px;
    position: fixed;
    height: 100%;
    border-radius: 0rem;

}

.headerSearchInput {
    min-width: 22em;
    border: 0px
}

.semanticVerticalMenu {
    height: 100%;
}

.ui.menu {
    border-radius: 0rem;
}

#hiddenVerticalMenu {
    padding: 0em;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 50px;
    position: fixed;
    height: 100%;
    border-radius: 0rem;
}

#header > .ui.menu .item:before {
    width: 0px
}

#menuId .menu {
    border-Radius: 0px;
    border: 0;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
